<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre de usuario:</strong>
  <%= @usuario.username %>
</p>

<p>
  <strong>Rol:</strong>
  <%= @usuario.rol %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
