<!DOCTYPE html>
<html>
  <head>
    <title>Ouroboros Space</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="<%= root_path %>">
          <%= image_tag("/images/logo.png", size: "100x100", alt: "logo") %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item <%= 'active' if params[:controller] == 'home' %> %>">
                <%= link_to "Home", root_path, class: 'nav-link' %>
              </li>
              <li class="nav-item  <%= 'active' if params[:controller] == 'noticias' %>">
                <%= link_to "Noticias", noticias_path, class: 'nav-link'%>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Planetas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Mercurio</a>
                  <a class="dropdown-item" href="#">Venus</a>
                  <a class="dropdown-item" href="#">La Tierra</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Ver todos</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Estrellas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Sol</a>
                  <a class="dropdown-item" href="#">Betelgeuse</a>
                  <a class="dropdown-item" href="#">Pr贸xima Centauri</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Ver todas</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Galaxias
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">V铆a L谩ctea</a>
                  <a class="dropdown-item" href="#">Andr贸meda</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Ver todas</a>
                </div>
              </li>
          </ul>

          <form class="form-inline my-2 my-lg-0">
            <% if session[:usuario_id] == nil %>
              <a class="btn btn-outline-secondary mr-sm-2" href="/login" type="submit">Iniciar sesi贸n</a>
            <% else %>
              <a class="btn btn-outline-secondary mr-sm-2" href="/logout" type="submit">Cerrar sesi贸n</a>
            <% end %>
            <input class="form-control mr-sm-2" type="search" placeholder=" Buscar..." aria-label="Search">
          </form>
      </div>
    </nav>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <div class="container-fluid text-center alert alert-info alert-dismissible fade show mt-2" role="alert">
        <strong><%= msg %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
